/* ===== CUSTOM PROPERTIES ===== */

:root {
    --ff-primary: 'League Spartan', sans-serif;

    --fs-400: 0.8125rem;
    --fs-500: 0.9375rem;
    --fs-900: 2rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --clr-neutral-100: hsl(0, 0%, 100%);

    --clr-primary-100: hsl(300, 24%, 96%);
    --clr-primary-400: hsl(303, 10%, 53%);
    --clr-primary-900: hsl(300, 43%, 22%);    
    
    --clr-secondary-400: hsl(333, 80%, 67%);
}

@media (min-width: 53em) {
    :root {
        --fs-400: 1.08rem;
        --fs-500: 1.125rem;
        --fs-900: 3.25rem;
    }
}

/* ===== UTILITY CLASSES ===== */

.container {
    width: 90%;
    max-width: 70rem;
    margin-inline: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em 0;
}

.grid[data-flow="tight"] {
    gap: 1em 0;
}

@media (min-width: 53em) {
    .grid {
        gap: 5em 0;
    }
    .grid[data-columns="2"] {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        gap: 5em 0;
        
    }

    .grid[data-columns="3"] {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0 1.5rem;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-dynamic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-dynamic > * + * {
    margin: 1.5em 0 0 0;
}

@media (min-width: 53em) {
    .flex-dynamic {
        flex-direction: row;
        align-items: center;
    }

    .flex-dynamic > * + * {
        margin: 0 0 0 1.5em;
    }
}

.flex-gap > * + * {
    margin-left: 1.5em;
}

.flex-gap[data-size="small"] > * + * {
    margin-left: 0.5em;
}

.flow > * + * {
    margin-top: var(--spacing, 1.5em);
}

/* ===== TYPOGRAPHY ===== */

h1 {
    font-size: var(--fs-900);
    font-weight: var(--fw-700);
    color: var(--clr-primary-900);
}

h1 + p {
    font-size: var(--fs-500)
}

.media-reviews__list p {
    font-weight: var(--fw-700);
    color: var(--clr-primary-900);
}
.customer-reviews__list {
    font-weight: var(--fw-500);
}

.customer p {
    line-height: 1.2;
}

.customer p:first-of-type {
    font-weight: var(--fw-700);
}

.customer p:nth-of-type(2) {
    color: var(--clr-secondary-400)
}

/* ===== GENERAL STYLES ===== */

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--clr-primary-400);
    position: relative;  
    
    display: flex;
    flex-direction: column;
}

main {
    margin-block: auto;
    height: 100%;
}


section {
    padding-block: 5em;
    padding-inline: 2.25em;
}

@media(min-width: 53em) {
    section {
        padding-inline: 0;
    }
}

footer {
    padding-block-end: 1rem;
}


/* ===== LAYOUT ===== */

picture {
     position: absolute;
     z-index: -1;
}

picture:first-of-type {
    inset: 0 auto auto 0
}

picture:nth-of-type(2) {
    inset: auto 0 0 auto;
}

.reviews .header-main {
    text-align: center;
}


@media(min-width: 53em) {
    .reviews .header-main {
        grid-column: 1 ;
        grid-row: 1;
        text-align: left;
        max-width: 42ch;
        
    }

    .media-reviews {
        align-self: end;
        grid-column: 2 / -1;
        grid-row: 1;
    }

    .customer-reviews {
        grid-column: 1 / -1;
    }
}

/* ===== LISTS ===== */
.media-reviews__list,
.customer-reviews__list {
    margin: 0;
    padding: 0;
} 

.media-reviews__list li {
    background-color: var(--clr-primary-100);
    padding-block: 0.75em;
    padding-inline: 1.5em;
    border-radius: 0.5em;
}

.media-reviews__list li > * + * {
    margin: 0.5rem 0 0 0;
}

@media(min-width: 53em) {
    .media-reviews__list {
        padding-top: 1.5em;
        padding-block: 0.5em;
    }

    .media-reviews__list li > * + * {
        margin: 0 0 0 1.5rem;
    }

    .media-reviews__list > *:first-child {
        transform: translateX(-6rem);
    }   

    .media-reviews__list > *:nth-child(2) {
        transform: translateX(-3rem);
        
    }

    .media-reviews__list > *:last-child {
        transform: translateX(0);
    }

}

.customer-reviews__list li {
    background-color: var(--clr-primary-900);
    color: var(--clr-neutral-100);
    padding-block: 2em;
    padding-inline: 1.5em;
    border-radius: 0.5em;
}

@media(min-width: 53em) {
    .grid[data-columns="3"] > *:first-child {
        transform: translateY(-1rem);
        align-self: center;
    }

    .grid[data-columns="3"] > *:nth-child(2) {
        transform: translateY(0);
        align-self: center;
    }

    .grid[data-columns="3"] > *:last-child {
        transform: translateY(1rem);
        align-self: center;
    }
}

.customer img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

/* footer */

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: var(--clr-secondary-400);
    cursor: pointer;
  }

  .attribution:hover a,
  .attribution:focus a {
    color: var(--clr-primary-900);
  }
